<header class="relative z-10 flex items-center bg-white">
  <div class="container flex flex-wrap items-center justify-between gap-y-3 space-x-3">
    <a href="/">
      <img src="./img/logo.svg" alt="Logo" class="h-[42px] w-[132px] object-contain sm:h-[68px] sm:w-[211px]" />
    </a>
    <nav class="hidden lg:block">
      <ul class="flex items-center space-x-[20px]">
        <li class="relative">
          <a href="#about" class="hover:text-primary-light after:bg-primary-light text-base text-typo-dark after:absolute after:-bottom-2 after:left-0 after:hidden after:h-[2px] after:w-[42px] after:content-[''] hover:after:block">Про нас</a>
        </li>
        <li class="relative">
          <a href="#services" class="hover:text-primary-light after:bg-primary-light text-base text-typo-dark after:absolute after:-bottom-2 after:left-0 after:hidden after:h-[2px] after:w-[42px] after:content-[''] hover:after:block">Послуги</a>
        </li>
        <li class="relative">
          <a href="#works" class="hover:text-primary-light after:bg-primary-light text-base text-typo-dark after:absolute after:-bottom-2 after:left-0 after:hidden after:h-[2px] after:w-[42px] after:content-[''] hover:after:block">Як ми працюємо</a>
        </li>
        <li class="relative">
          <a href="#comments" class="hover:text-primary-light after:bg-primary-light text-base text-typo-dark after:absolute after:-bottom-2 after:left-0 after:hidden after:h-[2px] after:w-[42px] after:content-[''] hover:after:block">Відгуки</a>
        </li>
        <li class="relative">
          <a href="#contacts" class="hover:text-primary-light after:bg-primary-light text-base text-typo-dark after:absolute after:-bottom-2 after:left-0 after:hidden after:h-[2px] after:w-[42px] after:content-[''] hover:after:block">Контакти</a>
        </li>
      </ul>
    </nav>
    <a href="https://t.me/tsc_dopomoga_online" class="bg-primary-light flex h-[69px] items-center justify-center px-[10px] text-sm text-white transition-colors  hover:bg-primary-dark hover:text-primary sm:space-x-2.5 sm:px-[15px] sm:text-lg">
      <span>Зв'язатися з нами</span>
      <svg class="hidden size-6 sm:block">
        <use href="./sprites/sprite.svg#icon-tg"></use>
      </svg>
    </a>
  </div>
</header>
