<div>
  <div class="flex h-[35px] items-center justify-center bg-[#272727] sm:h-[38px]">
    <p class="text-center text-sm text-gray-400 sm:text-base">Вітаємо вас на сайті TSC helper!</p>
  </div>
  <header class="relative z-10 flex items-center bg-white">
    <div class="container flex flex-wrap items-center justify-between gap-y-3 space-x-3 max-sm:pr-0">
      <a href="/">
        <img src="./img/logo.svg" alt="Logo" class="h-[42px] w-[132px] object-contain sm:h-[68px] sm:w-[211px]" />
      </a>
      <nav class="hidden xl:block">
        <ul class="flex items-center space-x-[46px]">
          <li class="relative">
            <a href="#about" class="text-base text-typo-dark after:absolute after:-bottom-2 after:left-0 after:hidden after:h-[2px] after:w-[42px] after:bg-primary-light after:content-[''] hover:text-primary-light hover:after:block">Про нас</a>
          </li>
          <li class="relative">
            <a href="#services" class="text-base text-typo-dark after:absolute after:-bottom-2 after:left-0 after:hidden after:h-[2px] after:w-[42px] after:bg-primary-light after:content-[''] hover:text-primary-light hover:after:block">Послуги</a>
          </li>
          <li class="relative">
            <a href="#works" class="text-base text-typo-dark after:absolute after:-bottom-2 after:left-0 after:hidden after:h-[2px] after:w-[42px] after:bg-primary-light after:content-[''] hover:text-primary-light hover:after:block">Як ми працюємо</a>
          </li>
          <li class="relative">
            <a href="#comments" class="text-base text-typo-dark after:absolute after:-bottom-2 after:left-0 after:hidden after:h-[2px] after:w-[42px] after:bg-primary-light after:content-[''] hover:text-primary-light hover:after:block">Відгуки</a>
          </li>
          <li class="relative">
            <a href="#contacts" class="text-base text-typo-dark after:absolute after:-bottom-2 after:left-0 after:hidden after:h-[2px] after:w-[42px] after:bg-primary-light after:content-[''] hover:text-primary-light hover:after:block">Контакти</a>
          </li>
        </ul>
      </nav>
      <a href="https://t.me/tsc_dopomoga_online" class="hover:text-primary flex h-[51px] items-center justify-center bg-primary-light px-[10px] text-sm text-white transition-colors hover:bg-primary-dark sm:h-[69px] sm:space-x-2.5 sm:px-[15px] sm:text-lg">
        <svg class="hidden size-6 sm:block">
          <use href="./sprites/sprite.svg#icon-tg"></use>
        </svg>
        <span>Зв'язатися з нами</span>
      </a>
    </div>
  </header>
</div>
